{% extends "home.html" %}

{% load static %}
<script src="{% static 'fetch_json.js' %}"></script>

{% block content %}
  <table>
  <tr>
    <th>Department Name</th>
    <th>Sub Departmens</th>

  </tr>
  <tr>
    <td>xxxxxx</td>
    <td>xxxxxxxx</td>

  </tr>
  <tr>
    <td>xxxxxxxx</td>
    <td>xxxxxxxx</td>

  </tr>
  <tr>
    <td>xxxxxxx</td>
    <td>xxxxxxxxx</td>
  </tr>
  <tr>
    <td>xxxxxxxxxx</td>
    <td>xxxxxxxxx</td>
    </tr>
  <tr>
    <td>xxxxxxxxx</td>
    <td>xxxxxxxx</td>
     </tr>
  <tr>
    <td>xxxxxxxxxx</td>
    <td>xxxxxxxxx</td>
     </tr>
</table>
{% endblock %}

