{% extends "directory.html" %}

{% block content %}

<div class="name text-light" style=" max-height:100%;">
   <div class="position-static overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="col-md-9 p-lg-5 mx-auto my-5  ">
      <h1 class="display-4 font-weight-normal  ">
   DFE
    </h1>
      <p class="lead font-weight-normal ">
        You can use this page to browse different departments We really need a border for the text or it will look jank
        </p>
      </div>
  </div>
    </div>

  <div class="container">

    <table class="table table-bordered  ">
    <thead class="thead-dark">

        <th scope="col"  >Project Risk</th>
      <tbody>
      <td><div id="graphs"><iframe style="float:left; background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-project-0-yyucg/embed/charts?id=b77ba076-22d4-4c1a-a84f-41a33fe58254&theme=light%22%3E"></iframe></div></td></tbody>




           <table class="table table-bordered m-sm-t-10 m-y-sm-3">
    <thead class="thead-dark">

        <th scope="col" >Business Value</th>
    <tbody>
      <td>
        <iframe style="float:right;background-color: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480; " src="https://charts.mongodb.com/charts-project-0-yyucg/embed/charts?id=2f1d0759-1c28-42d9-bcfe-19a2ec9bf94f&theme=light%22%3E"></iframe>

    </td>
     </tbody>



             </thead>
      </table>

    </thead>
    </table>
    </div>


<!--        <div class="container">-->
<!--         <div class="alert alert-primary" role="alert"> -->
<!--  Overall metrics for the entire IT portfolio are displayed above, separated by applications and projects. Applications are actual software systems underneath each respective department and the projects are associated with how the work to update the system is done. An application/project can be defined as “completed” when the department that owns it fills out all the data columns that are provided by ETS. If any data column fails to be completed, that application/project automatically becomes flagged as uncompleted. -->
<!--           <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
<!--     <span aria-hidden="true">&times;</span> -->
<!--           </button> -->
<!--         </div> -->
<!--     </div>-->

{% endblock %}
