<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src=search.js></script>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search" title="Type in a category">

    <ul id="myMenu">
      <li><a href="#" id="myMenu0"></a></li>
      <li><a href="#" id="myMenu1"></a></li>
      <li><a href="#" id="myMenu2"></a></li>
      <li><a href="#" id="myMenu3"></a></li>
      <li><a href="#" id="myMenu4"></a></li>
      <li><a href="#" id="myMenu5"></a></li>
      <li><a href="#" id="myMenu6"></a></li>
      <li><a href="#" id="myMenu7"></a></li>
      <li><a href="#" id="myMenu8"></a></li>
    </ul>
</body>
</html>