{% extends "directory.html" %}

{% block content %}
<table style="width:20%; float:left">

  {% for i in projectinfo %}
  <tr>
    <th><b>Dates</b></th>

  </tr>
  <tr>
    <td><b>Plan Start:</b><br>{{ i.lifecycleCustom_planningStarted }}</td>

  </tr>
  <tr>
    <td><b>Approval:</b><br>{{ i.lifecycleCustom_approved }}</td>

  </tr>
  <tr>
    <td><b>Projected Start:</b><br>{{ i.lifecycleCustom_projectedStart }}</td>

  </tr>
  <tr>
    <td><b>Completed:</b><br>{{ i.lifecycleCustom_projectedCompletion }}</td>

  </tr>
  <tr>
    <td><b>Cancelled:</b><br>{{ i.lifecycleCustom_cancelled }}</td>

  </tr>

</table>
<table style="width:20%; float:right">
    <td>
        <b>Name: </b>{{ i.name }}
        <br><b>Owner: </b>{{ i.ownerAgencyName }}
        <br><b>Project Status: </b>{{ i.projectStatus }}
        <br><b>Business Value: </b>{{ i.businessValue }}
        <br><b>Project Risk: </b>{{ i.projectRisk }}
    </td>
{% endfor %}
</table>

{% endblock %}

