{% extends "directory.html" %}
<body>
  <table>
  <tr>
    <th>Application</th>
    <th>Projects</th>

  </tr>
  <tr>
   <td>xxxxxxxx</td>
     <td style="float:right;background-color: #D3D3D3;"><table style= "float:right;">
      <td style="float:right;background-color: #D3D3D3;">data<br>dagdagd</td>
      </table></td>

  </tr>
  <tr>
    <td>xxxxxxxx</td>
     <td><table>
      <td style="float:right">data<br>gdagdagd</td>
      </table></td>


  </tr>
  <tr>
    <td>xxxxxxx</td>
     <td style="float:right;background-color: #D3D3D3;"><table style= "float:right;">
      <td style="float:right;background-color: #D3D3D3;">data<br>fdafds</td>
      </table></td>

  </tr>
  <tr>
    <td>xxxxxxxxxx</td>
     <td><table>
      <td style="float:right">data<br>gdagdaga</td>
      </table></td>

    </tr>
  <tr>
    <td>xxxxxxxxx</td>
     <td style="float:right;background-color: #D3D3D3;"><table style= "float:right">
      <td style="float:right;background-color: #D3D3D3;">data<br>gjaidgjaidgid</td>
      </table></td>

     </tr>
  <tr>
    <td>xxxxxxxxxx</td>
     <td><table>
      <td style="float:right">data<br>gagddgagda</td>
      </table></td>

     </tr>
</table>


</body>
</html>


